* {
  box-sizing: border-box;
  margin: 8px;
  padding: 8px;
  background-color: rgb(24, 24, 24);
}

.App {
  text-align: left;
  color: var(--primary-color);
}

:root {
  --secondary-color: #0f0f0f;
  --primary-color: white;
  --border-radius: 0;
  --box-shadow: 4px 4px 12px rgba(61, 57, 57, 0.5);
  --primary-box-height: 70px;
  --primary-box-width: 35px;
  --secondary-box-width: 35px;
  --tertiary-box-width: 35px;
  --primary-container-height: 70px;
  --secondary-container-height: 200px;
  --primary-container-width: 600px;
  --secondary-container-width: 300px;
  --margin-box: 10px;
  --margin-container: 10px;
}

h1 {
  font-size: 12rem;
  text-align: left;
}

h2 {
  font-size: 8rem;
  text-align: left;
}

p {
  padding-bottom: 100px;
  padding-top: 0;
  max-width: 460px;
}

.horizontal-line {
  background-color: white;
  height: 15px;
  width: 270px;
  margin-left: -2px;
}

.container {
  height: var(--secondary-container-height);
  width: var(--primary-container-width);
  background-color: var(--secondary-color);
  margin: var(--margin-container);
  display: flex;
  border: 0.5px solid white;
}

.container > .box {
  background: var(--primary-color);
  height: var(--primary-box-height);
  border-radius: var(--border-radius);
  margin: var(--margin-box);
  margin-top: 10px;
  box-shadow: var(--box-shadow);
  width: var(--primary-box-width);
}

.container > .box:nth-child(2n-1) {
  width: var(--primary-box-width);
}

.container > .box:nth-child(2n) {
  width: var(--secondary-box-width);
}

.FlexHeading {
  text-align: left;
  margin-left: 2em;
  font-weight: 500;
}

.FlexSubHeading {
  text-align: left;
  margin-left: 2em;
  font-weight: 400;
}

.flex-wrap-container {
  flex-wrap: wrap;
}

.App > div > div > .flex-wrap-container > .box {
  height: 35px;
  width: 70px;
}

.flex-start-container {
  justify-content: flex-start;
}

.flex-end-container {
  justify-content: flex-end;
}

.flex-center-container {
  justify-content: center;
}

.space-between-container {
  justify-content: space-between;
}

.space-around-container {
  justify-content: space-around;
}

.space-evenly-container {
  justify-content: space-evenly;
}

.a-flex-start-container {
  align-content: flex-start;
  flex-wrap: wrap;
}

.a-flex-end-container {
  align-content: flex-end;
  flex-wrap: wrap;
}

.a-center-container {
  align-content: center;
  flex-wrap: wrap;
}

.a-stretch-container {
  align-content: stretch;
  flex-wrap: wrap;
}

.a-stretch-container > .box {
  width: initial;
  height: initial;
}

.a-sb-container {
  align-content: space-between;
  flex-wrap: wrap;
}
.a-sa-container {
  align-content: space-around;
  flex-wrap: wrap;
}

.ai-flex-start-container {
  align-items: flex-start;
  flex-wrap: wrap;
}

.ai-flex-end-container {
  align-items: flex-end;
  flex-wrap: wrap;
}

.ai-center-container {
  align-items: center;
  flex-wrap: wrap;
}
.ai-stretch-container {
  align-items: stretch;
  flex-wrap: wrap;
}
.ai-stretch-container > .box {
  height: initial;
}

.ai-baseline-container {
  align-items: baseline;
  flex-wrap: wrap;
}

.order-container {
  order: 5;
  flex-wrap: wrap;
}

.order-reverse-container {
  order: 3;
  flex-wrap: wrap;
}

/* resizable box styling */

.react-resizable {
  position: relative;
  background-color: var(--secondary-color);
}
.react-resizable-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-origin: content-box;
  box-sizing: border-box;
  background-position: bottom right;
  padding: 0 3px 3px 0;
}

.react-resizable-handle-se {
  bottom: 5px;
  right: 5px;
  cursor: se-resize;
  width: 0;
  height: 0;
  border-bottom: 10px solid white;
  border-left: 10px solid var(--secondary-color);
  padding: 0;
}

.color-picker-header {
  display: flex;
  justify-content: flex-end;
  align-content: center;
  align-items: center;
  padding: 0;
  margin-right: 215px;
  font-size: 24px;
}

.custom-color-picker {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
}

.input-color-picker {
  border: 0;
  height: 20px;
  padding: 0;
}

.input-color-picker:focus {
  outline: black;
}

body::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}

body::-webkit-scrollbar-thumb {
  background: rgb(78, 77, 77);
  border-radius: 15px;
  box-shadow: inset 2px 2px 2px hsla(0, 0%, 69%, 0.151),
    inset -2px -2px 2px rgba(0, 0, 0, 0.562);
}

body::-webkit-scrollbar-track {
  background: linear-gradient(90deg, #201c29, #201c29 1px, #17141d 0, #17141d);
}
